body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #38bdf8;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0ea5e9;
}